/* Page rules */
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
:root {
    font-family: 'Open Sans', sans-serif;
}
header{
    position: relative;
}
.wrapper {
    max-width: 100vw;
    margin: 0 auto;
    scroll-behavior:smooth;
}

/* Navbar rules */
nav {
    padding: 25px 25px 25px 0px;
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    /* debug */
    /* background-color: azure; */
}
.navbar_item {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.navbar_item ul {
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.navbar_item li {
    list-style: none;
    margin: 0px 10px 0 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline 1px solid black;
}
/* jumbotron rules */
#jumbotron {
    width: 100%;
    margin-top: 50px;
    padding: 2% 5% 2% 5%;
    background-color: rgb(184, 214, 228);
}
#jumbotron h1 {
    font-size: 70px;
    margin-bottom: 50px;
}
.jumbo_section{
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
}
.jumbo_txt {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    z-index: 1;
}
.jumbo_txt p,
.jumbo_txt .btn {
    margin-bottom: 50px;
}
.icon {
    position: relative;
}
.jumbo_txt a{
    position: absolute;
    bottom: 15%;
    left: 5%;
}
.fa-arrow-down {
    margin-top:100px;
    font-size: 60px;
}
.jumbo_image {
    width: 70%;
    z-index: 1;
}
.jumbo_image img{
    max-width: 100%;
}
.overlay{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: white;
}
/* main */
/* selection section */
.section {
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    width: 80%;
    margin: 0 auto;
}
.section.row {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}
.col_divider{
    border: 1px solid rgb(211, 211, 211);
    height: 1px;
    width: 20%;
    margin-left: 10%;
}
.section_client{
    width: 100%;
}
.radius_sec {
    display: flex;
    justify-content: flex-start;
}
.radius {
    margin-right: 20px;
}
.radius input{
    margin: 0.2rem;
}
.plan_title{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-content: space-between;
    margin-bottom: 50px;
    /* background-color: bisque; */
}
.plan_title h2 {
    margin-bottom:30px ;
    font-size: 40px;
}
.plan_selection {
    display: flex;
    width: 100%;

    /* debug */
    /* background-color: bisque; */
}
.plan_enterprise {
    border: 1px solid rgb(211,211,211);
    margin: 10px;
}
/* column rules */
.selection_col {
    margin: 10px;
    width: calc((100% / 3 ) - 20px );
    border: 1px solid rgb(211, 211, 211);
}
.plan_type {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 2% 0%;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.plan_info {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.user span.time.black {
    color: black;
}
.plan_info h3 {
    margin-bottom: 30px;
}
.plan_info span {
    margin-bottom: 10px;
}
.user {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
}
.user span.time {
    color: rgb(211,211,211);
}
.user_info {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.user_detail {
    display: flex;
    margin-bottom: 20px;
}
.plan_hit {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.user_info .btn {
    margin-bottom: 20px;
    margin-top: 20px;
}
.user_info a {
    color: #0061fe;
    text-decoration: underline;
}
.sx {
    margin:0px 10px 0px 0px;

}
.sx .fa-check {
    color: #0061fe;
}
/* enterprise row rule */
.enterprise_contain {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.ent_left{
    width: 69%;
    padding: 2% 40% 2% 2%
}
.ent_left h3,
.ent_left h5 {
    margin-bottom: 20px;
}
.ent_right{
    padding: 2% 0% 5% 0%
}
/* read section rule */
.read_top {
    max-width: 100%;
    height: auto;
    display: flex;
}
.rd_rx{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding-top: 10%;
}
.rd_rx p, .btn {
    margin: 20px 0px 20px 0px;
}

.rd_lx {
    padding: 2% 2% 2% 0%;
    padding-left: 10px;
    max-width: 50%;
}
.rd_lx img {
    max-width: 100%;
}
/* read list rule */
.li_row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.li_col {
    max-width: calc(100% / 3);
    padding: 2% 0% 2% 0%;
}
.li_col_img, .li_col_txt {
    padding: 3%;
}
.li_col_txt h5,
.li_col_txt p {
    margin-bottom: 20px;
}
.li_col_txt p{
    font-size: 12px;
}
/* read_bottom rules */
.read_bottom {
    padding: 5% 70% 5% 0%;
    display: flex;
    flex-flow: column wrap;
}
.read_bottom h2{
    margin-bottom:20px;
}
.read_bottom a {
    text-decoration: underline #0061fe;
    color: #0061fe;
}
/* selection_client rules */
.client_container{
    max-width: 100%;
    max-height: 400px;
    background-color:#c7c7c7;
    display: flex;
}
.sidebox{
    width: calc(100% / 3);
    display: flex;
    flex-flow: row wrap;
}
.sidebox_logo {
    width: 50%;
    height: 50%;
    position: relative;
}
.sidebox_logo:hover {
    border: 10px solid rgba(0,0,0,0.1);
}
.sidebox_logo img {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.centerbox {
    width: calc(100% / 3);
    max-height: 100%;
    background-color: #c7c7c7;
    overflow-y: auto;
}
.first_square:hover {
    border: 10px solid rgba(211,211,211,0.5)
}
.green{
    background-color: rgb(144, 189, 146);
}
.purple {
    background-color: rgb(97, 58, 64);
}
.cyan img{
    height: 10%;
}
.cyan {
    background-color: #4978c4;
}
.red {
    background-color: #ff2020;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: #16325f;
    
}
.lightAzure {
    background-color: #c3daff;
}
/* center square rules */
.container.wrapper{
    width: 100%;
    padding: 10%;
    overflow-y: auto;
}
.img_box img{
    max-width: 60%;
}
.text_box p {
    margin-bottom: 30px;
}
/* try rules */
.try {
    display: flex;
}
.try-rx, .try-lx{
    width: 50%;
    padding:8% 8% 8% 10%;
    background-color: #9ad1e2;
}
/* frequent ask rules */
.question_section{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.question_section h2{
    margin: 60px 0px 40px 0px;
}
.question_section p{
    font-weight: 600;
}
.question_section p,
.question_section i {
    margin: 40px 20px 40px 0px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.question.first {
    border-top: 1px solid black;
}
/* footer rules */
footer {
    width: 100%;
    background-color: black;
}
.footer_aligner{
    width: 80%;
    margin: 0 auto;
}
.footer_aligner .col_divider {
    padding: 0;
    margin: 0;
}
.footer_top{
    display: flex;
}
.footer_col{
    color:#c7c7c7 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% / 5);
    padding: 2% 0 2% 0;
}
.footer_col h3 {
    font-size: 25px;
}
.footer_col ul {
    list-style: none;
    padding: 0;
}
.footer_col li {
    margin: 10px 0 10px 0;
}
.footer_col a {
    color: #c7c7c7;
}
.footer_col a:hover{
    text-decoration: underline 1px solid #c7c7c7;
}
.footer_bottom{
    padding: 2% 0 2% 0;
    display: flex;
    color:#c7c7c7 ;
}
/* btn rules */
.btn {
    background-color:#0061fe ;
    color: white;
    padding: 5px 8px 5px 8px;
    border: 2px;
    width: fit-content;
    cursor: pointer;
}
.btn:hover {
    filter: grayscale(50%);
    box-shadow: 2px 2px rgba(0,0,0,0.5) ;
}
.btn.white {
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
    color: rgb(211, 211, 211);
}
.btn.white.black{
    color: black;
    border: none;
}
.btn.white:hover {
    background-color: rgb(211, 211, 211);
    color: black;
}